html, body, h1, p, table, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	line-height:1;
}

html,body {
	height:100%;
}

body {
	background:#fff;
	color:#999;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	font-size:16px;
}

a {
	color:#222;
	text-decoration:none;
	font-weight:400;
	border-bottom:1px solid #ccc;
  border-bottom:1px solid rgba(86,86,86,0.55);
	transition: all 0.3s ease;
}

a:hover {
	color:#2a87bd;
	border-color:#888;
  border-color:rgba(56,56,56,0.68);
}

h1 {
	font-weight:400;
	position:absolute;
	top:100px;
	left:100px;
	font-size:22px;
	color:#222;
}

table {
	position:absolute;
	bottom:100px;
	left:100px;
}

th {
	font-weight:300;
	text-align:left;
	padding:9px 0;
	width:auto;
	min-width:75px;
}


img {
  display: block;
  width: 300px;
  height: 300px;
  margin-top:-300px;
  margin-left:-300px;
  position: absolute;
  top:400px;
  right:100px;
  -webkit-animation: moveX 6.1s linear 0s infinite alternate, moveY 6.6s linear 0s infinite alternate;
  -moz-animation: moveX 6.1s linear 0s infinite alternate, moveY 6.6s linear 0s infinite alternate;
  -o-animation: moveX 6.1s linear 0s infinite alternate, moveY 6.6s linear 0s infinite alternate;
  animation: moveX 6.1s linear 0s infinite alternate, moveY 6.6s linear 0s infinite alternate;
}


@-webkit-keyframes moveX {
  from { left: 300px; } to { left: 100%; }
}
@-moz-keyframes moveX {
  from { left: 300px; } to { left: 100%; }
}
@-o-keyframes moveX {
  from { left: 300px; } to { left: 100%; }
}
@keyframes moveX {
  from { left: 300px; } to { left: 100%; }
}
@-webkit-keyframes moveY {
  from { top: 300px; } to { top: 100%; }
}
@-moz-keyframes moveY {
  from { top: 300px; } to { top: 100%; }
}
@-o-keyframes moveY {
  from { top: 300px; } to { top: 100%; }
}
@keyframes moveY {
  from { top: 300px; } to { top: 100%; }
}


@media all and (max-width: 800px), (max-height: 600px) {
	
	h1 {
		top:40px;
		left:40px;
	}
	
	table {
		bottom:40px;
		left:40px;
	}
	
	img {
		width:100px;
		height:100px;
		top:140px;
		right:40px;
    margin-left:-100px;
    margin-top:-100px;
    -webkit-animation: moveX 4.1s linear 0s infinite alternate, moveY 4.6s linear 0s infinite alternate;
    -moz-animation: moveX 4.1s linear 0s infinite alternate, moveY 4.6s linear 0s infinite alternate;
    -o-animation: moveX 4.1s linear 0s infinite alternate, moveY 4.6s linear 0s infinite alternate;
    animation: moveX 4.1s linear 0s infinite alternate, moveY 4.6s linear 0s infinite alternate;
	}
  
  @-webkit-keyframes moveX {
    from { left: 100px; } to { left: 100%; }
  }
  @-moz-keyframes moveX {
    from { left: 100px; } to { left: 100%; }
  }
  @-o-keyframes moveX {
    from { left: 100px; } to { left: 100%; }
  }
  @keyframes moveX {
    from { left: 100px; } to { left: 100%; }
  }
  @-webkit-keyframes moveY {
    from { top: 100px; } to { top: 100%; }
  }
  @-moz-keyframes moveY {
    from { top: 100px; } to { top: 100%; }
  }
  @-o-keyframes moveY {
    from { top: 100px; } to { top: 100%; }
  }
  @keyframes moveY {
    from { top: 100px; } to { top: 100%; }
  }
  
	
}